<h1>Form experiments </h1>

<form action= "https://en.wikipedia.org/wiki/Chicago">
  <label>first name</label>
  <input id= "alice" type="text" name="zebra">
  <label>last name</label>
  <button> Go to Wikipedia </button>
</form>
